# --- Karate & Build ---
target/
build/
karate-reports/
*.log

# --- IDE ---
.idea/
.vscode/
*.iml

# --- SECRETS (QUAN TRỌNG) ---
.env
user-config.json
secret.properties
# Không bao giờ push các file này lên GitHub/GitLab
