# --- Karate & Build ---
target/
build/
karate-reports/
*.log

# Ignore toàn bộ thư mục data chứa dữ liệu test
data/

# --- IDE ---
.idea/
.vscode/
*.iml

# --- SECRETS (QUAN TRỌNG) ---
.env
user-config.json
secret.properties

# Không bao giờ push các file này lên GitHub/GitLab
